@charset "UTF-8";

body {
    background-color: #fff;
}

main {
    padding: 40px 0;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.product-box {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
}

.product-box:hover {
    scale: 1.03;
}

.product-box img {
    width: 90%;
    height: 70%;
}

.name {
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0;
}

.price {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 5px;
}